.footer {
    background: var(--bg-color-one);
    padding: 60px 0px;
}

.footer__bg {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

.footer__logo {
    font-family: 'Raleway';
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--third-color);
    margin-bottom: 20px;
}

.footer__container {
    @extend %container;
    display: flex;
    align-items: baseline;
}

.footer__social-media {
    display: flex;
    flex-direction: column;
    margin-right: 93px;
}



.footer__span {
    color: white;
}

.address__list {
    display: flex;
    flex-direction: column;

}

.address__loc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address__item:not(:last-child) {
    text-decoration: none;
    list-style: none;
    margin-bottom: 9px;
}

.subscribe {
    width: 570px;
    height: 86px;
}

.subscribe__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-bottom: 20px;
}

.subscribe__container {
    display: flex;
    gap: 12px;
}

.subscribe__mail {
    width: 100%;

    padding-left: 16px;

    color: white;
    background-color: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscribe__mail::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.submit {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 200px;
    height: 50px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.submit__button {
    padding-left: 0;
    padding-right: 34px;
    margin-left: auto;
    margin-right: auto;

    cursor: pointer;

    background-color: transparent;
    border: transparent;


    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}

.submit__icon {
    position: absolute;
    top: 50%;
    right: 13%;

    transform: translateY(-50%);
}